*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input{
    width: 200px;
    height: 30px;
    border: none;
    background: purple;
    color: white;
    outline: none;
    padding: 6px 10px;
}

div{
    background-color: grey;
    padding: 10px;
}
h4,p{
    text-align: center;
    margin: 15x auto;
    color: white;
}

h4{
color: red;
}